body {
	background-color: hsla(346, 0%, 52%, 0.51);
}
#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    opacity: 0.35;
    filter: alpha(opacity=35); /* For IE8 and earlier */
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}
h1 {
	font-family: "Titillium Web";
	font-size: 3em;
	margin-left: 10%;
}
h3 {
	font-size: 1.5em;
	text-align: center;
	width: 80%;
	margin: auto;
}
form {
	width: 80%;
	margin: auto;
	margin-top: 30px;
}
footer {
	color: #000;
}