/* custom css */

body { padding-top: 70px; }

.breadcrumb > li + li:before {
		  content: none;
		}


h1, h2, h3 {
	text-align: center;
}
h1.jumbotron {
	font-size: 4em;
	margin: auto;
	font-family: "Titillium Web";
}


#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    opacity: 0.35;
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}

img.logo {
		max-width:50%;
		max-height: 20%;
	}

.jumbotron {
	background-color: hsla(346, 0%, 52%, 0);

}


/*------------------- nav bar -------------------*/
.navbar-default {
	background-color: #00073d;
	border-color: #000f80;
	padding-left: 2%;
	padding-right: 2%;
}
.navbar-default .navbar-brand {
	color: #ffff00;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #eaea00;
}
.navbar-default .navbar-text {
	color: #ffff00;
}
.navbar-default .navbar-nav > li > a, .btn > a {
	color: #ffff00;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .btn > a:focus {
	color: #eaea00;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .btn > a:focus {
	color: #eaea00;
	background-color: #000f80;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .btn > a:focus {
	color: #eaea00;
	background-color: #000f80;
}
.navbar-default .navbar-toggle {
	border-color: #ffff00;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #000f80;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffff00;
}

.navbar-default .navbar-link {
	color: #ffff00;
}
.navbar-default .navbar-link:hover {
	color: #eaea00;
}

.navbar-toggle {
	color: #ffff00;
}

.navbar-nav>li>a {
	padding: 10px 16px;
}


/*  Brands  */

img.brand {
	margin: auto;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .navbar-left .navbar-right .open .dropdown-menu > li > a {
		color: #ffff00;
	}
	.navbar-default .navbar-nav .navbar-left .navbar-left .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #eaea00;
	}
	.navbar-default .navbar-nav .navbar-left .navbar-right .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #eaea00;
		background-color: #000f80;
	}
	.navbar-right {
		 float: left !important;
}
	}


.glyphicon {
	color: #ff9f1a;
}
.active .glyphicon {
	color: #cdae51;
}

				/*----------table------------*/

.panel-default>.panel-heading {
	background-color: #00073d;
	color: #fff7b8;
}


.game {
	margin: 0 2%;
	padding: 0 2%;
}

img.teamsGame {
	width: 80%;
	height: auto;
	margin: 0;
	padding: 0;
}

tr:nth-of-type(odd) {
  background-color:#ccc;
}


.signinForm {
	border: 2px solid #e7efdc;
	border-radius: 15px;
	background-color: #ebffcc;
	margin-top: 10px;
	padding: 5px;
}

.btn-group {
	margin: 2px;
}

.btn {
	margin: 2px;
}

li.navigation {
	color:#eaea00;
}

li.text {
	color: #000f80;
}

footer{
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #eee;
	color: #888;
	text-align: center;
}